/* START GLOBAL STYLES */
body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}

a {
}
/* END GLOBAL STYLES */

#pop-up {
  display: none;
  position: fixed;
  background: white;
  border: 1px solid black;
  border-radius: 5%;
  height: 300px;
  width: 300px;
  margin: auto;
  z-index: 3;
}

#page-container {
  /* Your styles for #page-container here */
  border: 1px solid green;
}

#curtain {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 30%;
  z-index: 1;
}

#close {
  
}

/* START SUMMARY CONTAINER */

#summary-container {
  /* Your styles for #summary-container here */
  border: 1px solid red;
}

#democrat-summary {
  /* Your styles for #democrat-summary here */
  border: 1px solid blue;
}

#republican-summary {
  /* Your styles for #republican-summary here */
  border: 1px solid blue;
}

/* END SUMMARY CONTAINER */

/* START FILTER CONTAINER */

#filter-container {
  border: 1px solid black;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.filter-section-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter-section-header:first-of-type {
  border-top: 1px solid #dadce0;
}

.fa.fa-chevron-down {
  color: #9e9ea0;
  font-size: 10px;
}

.filter-section-header h5 {
  margin: 0.5rem;
}

.filter-section .filter-options {
  display: flex;
}

/* TODO: if screen gets too small, make the filter menu expandable */
.button-group {
  display: flex;
  /* box-shadow: 0 2px 5px 1px rgba(64,60,67,.16); */
}
.button-group button {
  width: 100px;
  border: 0.5px solid #dadce0;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #dadce0;
}

.button-group button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-group button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-group button.selected {
  /* TODO: add color */
  background-color: #e8eaee;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  box-shadow: 2px 13px 28px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 13px 28px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 13px 28px -20px rgba(0, 0, 0, 0.75);
  background-color: white;
  border: 1px solid black;
  max-height: 200px;
  overflow-y: scroll;
  right: 1rem;
  z-index: 1;
  width: calc(100% - 2rem);
}

.dropdown div {
  font-size: 14px;
  padding: 4px 26px 4px 4px;
}

.dropdown div:hover {
  background-color: #e8eaee;
}

.dropdown-container .fa.fa-search {
  margin: 4px;
  font-size: 12px;
  color: #e8eaee;
}
.dropdown-container input {
  outline: none;
  border: none;
}
.dropdown-container .text-input-container {
  border: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  margin: 0px 1rem;
}

#filter-tag-container {
  display: flex;
  flex-wrap: wrap;
  width: 25vw;
  padding: 0.5rem;
}

.tag {
  background-color: hsl(205, 46%, 92%);
  color: hsl(205, 47%, 42%);
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 10px;
  width: fit-content;
  display: flex;
  margin: 2px;
}

.tag i {
  padding-right: 5px;
  cursor: pointer;
}

/* END FILTER CONTAINER */

/* START FILTER PREVIEW CONTAINER */

#filter-preview-container {
  /* Your styles for #filter-preview-container here */
  border: 1px solid purple;
}

#filter-preview-container .filter {
  /* Your styles for .filter here */
}

/* END FILTER PREVIEW CONTAINER */

/* START CARDS */

#cards-container {
  /* Your styles for #cards-container here */
  border: 1px solid orange;
}

#democrat-cards {
  /* Your styles for #democrat-cards here */
}

#republican-cards {
  /* Your styles for #republican-cards here */
}

#independent-cards {
  /* Your styles for #independent-cards here */
}

.card {
  /* Your styles for .card here */
  border: 1px solid pink;
}

.card .name {
  /* Your styles for .name here */
}

.card .party {
  /* Your styles for .party here */
}

.card .state {
  /* Your styles for .state here */
}

.card .gender {
  /* Your styles for .gender here */
}

.card .rank {
  /* Your styles for .rank here */
}

/* END CARDS */

/* START SENATOR POPUP */

#senator-container {
  /* Your styles for #senator-container here */
}

a#twitter {
  /* Your styles for #twitter here */
}

a#youtube {
  /* Your styles for #youtube here */
}

/* END SENATOR POPUP */
