/* START GLOBAL STYLES */
body,
html,
p,
a {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}

h1 {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  font-weight: 800;
  font-size: 4.5rem;
}
h2 {
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Sanchez', serif;
  text-transform: uppercase;
}
h4 {
  margin: 0;
  font-family: 'League Gothic', sans-serif;
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 1px;
}

a {
}

.dark {
  color: #041a91;
}

.light {
  color: #fff;
}
/* END GLOBAL STYLES */

#pop-up,
#error-pop-up {
  visibility: hidden;
  position: fixed;
  background: white;
  border-radius: 5%;
  min-height: 250px;
  width: 500px;
  z-index: 3;
  top: calc(50vh - 150px);
  left: calc(50vw - 200px);
  display: flex;
}

#error-pop-up {
  flex-direction: column;
}

#pop-up-image {
  position: absolute;
  top: -50px;
  left: -50px;
  border-radius: 500px;
  border: 10px solid #fff;
  width: 200px;
  height: 200px;
}

#pop-up-socials {
  margin-top: 11rem;
  display: flex;
  min-width: 180px;
  margin-left: 10px;
}

#pop-up-text {
  margin-right: 2rem;
}

#pop-up-text i {
  margin-right: 5px;
}

#pop-up-socials a {
  margin: 5px;
}
#pop-up-party {
  text-transform: capitalize;
  color: #fff;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#pop-up-description {
  margin: 0 0 10px 0;
}

#pop-up .fa.fa-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 24px;
  color: #3644a0;
  cursor: pointer;
}

#pop-up .fa.fa-close:hover {
  color: #7b86cc;
}

#error-pop-up .fa.fa-exclamation-triangle {
  padding: 1rem 0 1rem 0;
  font-size: 4rem;
  color: #fff;
  width: 100%;
  text-align: center;
  background-color: #f65656;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#error-pop-up h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

#error-pop-up p {
  margin: 0 2rem 0 2rem;
  text-align: center;
}

#error-pop-up .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#error-pop-up button {
  border: 1px solid #f65656;
  color: #f65656;
  padding: 10px;
  min-width: 100px;
  margin: 5px;
  cursor: pointer;
}

#error-pop-up button.filled:hover {
  background-color: #c94848;
}
#error-pop-up button:hover {
  background-color: #f6565667;
}

#error-pop-up button.filled {
  background-color: #f65656;
  color: #fff;
}

#page-container {
  /* Your styles for #page-container here */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

#page-container .section {
  min-height: 80vh;
  overflow: hidden;
}

.section {
  padding: 2rem;
}

.section .content {
  position: relative;
  width: 800px;
  margin: 0 auto;
  min-height: 80vh;
}

#landing.section {
  background: radial-gradient(circle at 0% 0%, rgb(81, 112, 255) 0%, rgb(255, 102, 196) 100%) 0px 0px / 256px 256px;
  background-size: contain;
  color: #fff;
}

.section-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

img#usa-map {
  height: 90vh;
  position: absolute;
  opacity: 15%;
}

.header {
  position: relative;
  z-index: 1;
}

.header.right {
  text-align: right;
}
.header.left {
  text-align: left;
}

#landing.section h1,
#landing.section h3 {
  margin: 0;
}

#senate-floor-graphic-container {
  position: relative;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  float: left;
  bottom: 0;
}

.dot a {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 3;
}

#hover-img {
  display: inline-block;
  z-index: 1;
  height: 200px;
}

.cta {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

.cta.button {
  background-color: #041a91;
  border-radius: 10px;
  height: 50px;
  width: 150px;
}

.cta.text {
  position: absolute;
  bottom: 0;
  left: 325px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta.text * {
  pointer-events: none;
}

.cta.text:hover {
  color: #041a91;
}

.sort-button {
  border: 1px solid #041a91;
  background: white;
  color: #041a91;
  padding: 2px;
  margin: 2px;
  height: 100%;
  width: 7%;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'League Spartan', sans-serif;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  position: relative;
}

.sort-button:hover,
.sort-button.asc,
.sort-button.desc {
  background: #041a91;
  color: white;
}

.sort-button.desc:hover,
.sort-button.asc:hover {
  background-color: #3a52d6;
}

.sort-button.asc i,
.sort-button.desc i {
  position: absolute;
  left: 10px;
}

.count-bubble {
  color: #fff;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}

.count-bubble h3 {
  margin: 0;
}

.independent {
  background-color: #767676;
}
.republican {
  background-color: #911304;
}
.democrat {
  background-color: #041a91;
}

.count-bubble .party {
  margin: -10px 0 0 0;
}

#leaders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#leaders-container > * {
  width: 100%;
}

#leaders-container .leader-line {
  display: flex;
  align-items: center;
  margin: 1rem;
}

#leaders-container .leader-line > div {
  width: 50%;
}

#leaders-container .leader-line .leadership-title {
  text-align: right;
  font-family: 'League Gothic';
  letter-spacing: 2px;
  font-size: 20px;
}

#leaders-container .leader-line .name {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 900;
  margin-left: 10px;
}

#curtain {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 30%;
  z-index: 1;
}

#close {
}

/* START SUMMARY CONTAINER */

#leader-list.section {
  background: radial-gradient(circle at 50% 50%, rgb(112, 44, 246) 0%, rgb(255, 87, 87) 100%) 0px 0px / 256px 256px;
  background-size: contain;
  color: #fff;
}

#leader-list h4 {
  text-align: center;
}

/* END SUMMARY CONTAINER */

/* START FILTER CONTAINER */
/* 
#filter-container {
  border: 1px solid #d4dafb;
  width: 225px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  top: 70px;
  right: -500px;
  min-height: 85vh;
  box-shadow: 3px 2px 9px 0px rgba(184, 184, 184, 0.75);
  -webkit-box-shadow: 3px 2px 9px 0px rgba(184, 184, 184, 0.75);
  -moz-box-shadow: 3px 2px 9px 0px rgba(184, 184, 184, 0.75);
  transition: all 0.5s ease-in-out;
} */

#sort-container,
#filter-container {
  border: 1px solid #d4dafb;
  width: 225px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  top: 100px;
  height: 0px;
  box-shadow: 3px 2px 9px 0px rgba(184, 184, 184, 0.75);
  -webkit-box-shadow: 3px 2px 9px 0px rgba(184, 184, 184, 0.75);
  -moz-box-shadow: 3px 2px 9px 0px rgba(184, 184, 184, 0.75);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  align-items: center;
}

#filter-container {
  right: 3rem;
}

#filter-container h2,
#sort-container h2 {
  text-align: center;
}

.filter-section-header h5 {
  margin: 0.5rem 1rem;
}

.filter-section .filter-options {
  display: flex;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  box-shadow: 2px 13px 28px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 13px 28px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 13px 28px -20px rgba(0, 0, 0, 0.75);
  background-color: white;
  border: 1px solid black;
  max-height: 200px;
  overflow-y: scroll;
  right: 1rem;
  z-index: 1;
  width: calc(100% - 2rem);
}

.dropdown div {
  font-size: 14px;
  padding: 4px 26px 4px 4px;
  background-color: #fff;
}

.dropdown div:hover {
  background-color: #e8eaee;
}

.text-input-container {
  border: 1px solid #d4dafb;
  display: flex;
  flex-wrap: nowrap;
  margin: 0px 1rem;
  padding: 10px;
  border-radius: 10px;
  height: 20px;
}

.text-input-container .fa.fa-search {
  margin: 4px;
  font-size: 12px;
  color: #86a3de;
}
.text-input-container input {
  outline: none;
  border: none;
}

.text-input-container,
.text-input-container * {
  background-color: #eaedff;
}

#senators-list {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#senators-list .content {
  width: 840px;
}

#filter-header > .fa {
  /* float: right; */
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

#filter-header > .fa:hover {
  color: #86a3de;
}

#filter-header {
  display: flex;
  justify-content: flex-end;
}

#filter-tag-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  padding: 0.5rem;
}

.tag {
  background-color: hsl(205, 46%, 92%);
  color: hsl(205, 47%, 42%);
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 10px;
  width: fit-content;
  display: flex;
  margin: 2px;
  align-items: center;
}

.tag i {
  padding-right: 5px;
  cursor: pointer;
}

/* END FILTER CONTAINER */

/* START CARDS */

#senators-container {
  display: flex;
  flex-direction: column;
}

#senators-container > div {
  display: flex;
  flex-wrap: wrap;
  width: 840px;
  position: relative;
}
#senators-container > div h3 {
  position: absolute;
}

.senator-card {
  width: 200px;
  margin: 5px;
  position: relative;
}

.senator-card .overlay {
  cursor: pointer;
}

.senator-card .overlay:hover {
  opacity: 0%;
}
.senator-card:hover img {
  filter: unset;
}

.overlay {
  /* background-color: blue; */
  position: absolute;
  top: 0;
  height: 240px;
  width: 100%;
  opacity: 20%;
}

.senator-card img {
  filter: grayscale(1) brightness(1.2) contrast(1.2);
}

.senator-card .top,
.senator-card .bottom {
  display: flex;
}

.senator-card .top {
  margin-top: 5px;
}

.senator-card .top *,
.senator-card .bottom * {
  margin: 0 2px;
}

.senator-card .name {
  font-weight: 700;
}

.senator-card .party {
  /* Your styles for .party here */
}

.senator-card .state {
  font-style: italic;
}

.senator-card .gender {
  flex-grow: 1;
  text-align: right;
}

.senator-card .rank {
  /* Your styles for .rank here */
}

/* END CARDS */

/* START SENATOR POPUP */

.pop-up-url.with-icon {
  font-size: 1.7rem;
  color: #3644a0;
  /* cursor: pointer; */
  height: 1.7rem;
}

.pop-up-url.with-icon i:hover {
  color: #7b86cc;
  cursor: pointer;
}

/* END SENATOR POPUP */

/* START STATS SECTION */
#stats.section {
  color: #3644a0;
}

#stats .top {
  display: flex;
}

#gender-stats-container {
  width: 70%;
  display: flex;
}

.percentage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 1rem 0;
}

.percentage h1 {
  font-size: 3rem;
}

.percentage h3 {
  margin: 0;
}

#gender-stats-container .fa {
  font-size: 2rem;
  margin: 2px;
  width: 20px;
}

#gender-stats-container .fa-female {
  color: #41b8d5;
}
#gender-stats-container .fa-male {
  color: #6ce5e8;
}

#average-age-container {
  background-color: #caeaf1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#average-age-container h3 {
  margin: 0;
}
#average-age-container h1 {
  font-size: 9rem;
}

#years-in-office-container {
  position: relative;
  display: flex;
  align-items: center;
}

#years-in-office-container > h3 {
  position: absolute;
  top: 32%;
  text-align: center;
  left: 7%;
  font-size: 2rem;
}

#years-in-office-container .fa {
  font-size: 18rem;
  color: #caeaf1;
  opacity: 40%;
}

#bars-container {
  flex-grow: 1;
  margin-left: 2rem;
  margin-top: 3rem;
}
#years-in-office-container .graph-bar {
  height: 55px;
}
.graph-bar:nth-of-type(4) {
  background-color: #6ce5e8;
}
.graph-bar:nth-of-type(3) {
  background-color: #41b8d5;
}
.graph-bar:nth-of-type(2) {
  background-color: #2d8bba;
}
.graph-bar:nth-of-type(1) {
  background-color: #227ba8;
}
#bar-graph-axis {
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
}

/* END STATS SECTION */

@media only screen and (max-width: 930px) {
  .section .content,
  #senators-container .content {
    width: 300px !important;
  }
  h1 {
    font-size: 3rem;
  }
  .count-bubble h1 {
    font-size: 3rem !important;
  }
  .count-bubble h3 {
    font-size: 1rem !important;
  }
  .count-bubble {
    height: 180px !important;
    width: 180px !important;
  }
  .count-bubble:nth-child(2) {
    left: 0px !important;
    top: unset !important;
  }
  .count-bubble:nth-child(3) {
    left: 150px !important;
  }
  .count-bubble:nth-child(4) {
    left: 0px !important;
    top: 360px !important;
  }
  #leaders-container .leader-line {
    flex-direction: column;
    margin: 0;
  }
  #leaders-container .leader-line > div {
    width: 100%;
    text-align: left !important;
    margin: 0 !important;
  }
  #leaders-container .leader-line .leadership-title {
    font-size: 15px;
  }
  #leaders-container .leader-line .name {
    font-size: 20px;
  }
  #leader-list h4 {
    font-size: 15px;
  }
  #stats .top {
    flex-direction: column;
  }
  #gender-stats-container {
    width: 100%;
    align-items: center;
    margin: 1rem 0;
  }
  .percentages-container .percentage {
    margin: 0rem 0rem 1rem 0 !important;
  }
  #gender-stats-container .fa {
    font-size: 1.5rem;
    margin: 1px;
    width: 15px;
  }
  #years-in-office-container {
    flex-direction: column;
  }
  #bars-container {
    width: 100%;
    margin: 0;
  }
  #years-in-office-container > h3 {
    top: 17%;
    left: 26%;
  }
  #senators-container > div {
    width: 300px;
  }
  .senator-card {
    /* height: 240px; */
    width: fit-content;
    font-size: 10px;
  }
  .overlay {
    height: 160px;
  }
  .senator-card img {
    height: 160px;
  }
  #sort-container,
  #filter-container {
    top: 130px;
  }
  #filter-tag-container {
    display: none;
  }
  #pop-up,
  #error-pop-up {
    width: unset;
    flex-direction: column-reverse;
    justify-content: flex-end;
    left: 0;
  }

  #pop-up-image {
    top: -122px;
    left: 85px;
  }

  #pop-up * {
    margin: unset;
  }
  #pop-up-text {
    margin: 6rem 2rem;
  }
  #pop-up-socials {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  #senate-floor-graphic-container {
    display: none;
  }
  .cta.text {
    left: calc(50vw - 75px);
    width: unset;
  }
}